.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product img{
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.add-btn{
    background-color: #f0c14b;
    width: 150px;
    height: 30px;
    border: 1px solid #c29c3b;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn:focus{
    outline-color: lightgrey;
}
